{% extends 'base.html' %}
{% load static %}
{% block content1 %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Asignar Insignias a Usuarios</title>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% endblock %}
{% block content2 %}
<div class="form-asignar">
  <h2>Asignar Insignias a Usuarios</h2>
  <form method="POST">
    {% csrf_token %}
    {{form}}
    <button class="btn-asignar">
      Asignar
    </button>
</form>
</div>
{% endblock %}
</body>
</html>