<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/projects">Projects</a>
        </li>
        <li>
            <a href="/insignias">Insignias</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/crear_insignia">Crear tu propia insignia</a>
        </li>
        <li>
            <a href="/crear_project">Crear un proyecto</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}