<nav>
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'projects' %}">Projects</a>
        </li>
        <li>
            <a href="{% url 'insignias' %}">Insignias</a>
        </li>
        <li>
            <a href="{% url 'about' %}">About</a>
        </li>
        <li>
            <a href="{% url 'crear_insignia' %}">Crear tu propia insignia</a>
        </li>
        <li>
            <a href="{% url 'crear_proyecto' %}">Crear un proyecto</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}