{% extends 'base.html' %}
{% load static %}
{% block content1 %}
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Administración de Insignias</title>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
{% endblock %}
{% block content2 %}
<div class="crear-form">
  <h2>Crear Nueva Insignia</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <button class="btn-crear">
      Guardar
    </button>
</div>
{% endblock %}