{% extends 'base.html' %}
{% block content1 %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mis Insignias</title>
</head>
<body>
{% endblock %}
{% block content2 %}
<div class="content">
  <h1>Mis Insignias</h1>
  {% for badge in badges %}
  <div class="insignias-container">
    <!-- Las insignias se añadirán aquí dinámicamente con JavaScript o directamente desde el backend -->
    <div class="insignia">
      <h2>{{badge.title}}</h2>
    </div>
  {% endfor %}
    <!-- Repetir bloques similares para cada insignia que el usuario posea -->
  </div>
</div>
{% endblock %}
<script>
// Aquí podrías añadir JavaScript para cargar dinámicamente las insignias desde el backend
</script>
</body>
</html>