{% extends 'base.html' %}
{% load static %}
{% block content1 %}
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mis Insignias</title>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
{% endblock %}
{% block content2 %}
  <h1>Mis Insignias</h1>
  <div class="insignias-container">
    {% for badge in badges %}
    <div class="insignia">
      <img src="{{ badge.imagen.url }}" alt="{{ badge.title }}">
      <div class="insignia-details">
        <p class="title">{{badge.title}}</p>
        <p>{{badge.description}}</p>
      </div>
    </div>
  {% endfor %}
  </div>
  {% endblock %}